@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray-000: #ffffff;
  --gray-050: #f7f7f7;
  --gray-100: #f5f5f5;
  --gray-200: #ebebeb;
  --gray-300: #d1d1d1;
  --gray-400: #a3a3a3;
  --gray-500: #7b7b7b;
  --gray-600: #5c5c5c;
  --gray-700: #333333;
  --gray-800: #292929;
  --gray-900: #1c1c1c;
  --gray-950: #171717;

  --slate-000: #ffffff;
  --slate-050: #f5f7fa;
  --slate-100: #f2f5f8;
  --slate-200: #e1e4ea;
  --slate-300: #cacfd8;
  --slate-400: #99a0ae;
  --slate-500: #717784;
  --slate-600: #525866;
  --slate-700: #2b303b;
  --slate-800: #222530;
  --slate-900: #181b25;
  --slate-950: #0e121b;

  --blue-000: #ffffff;
  --blue-050: #ebf1ff;
  --blue-100: #d5e2ff;
  --blue-200: #c0d5ff;
  --blue-300: #97baff;
  --blue-400: #6895ff;
  --blue-500: #335cff;
  --blue-600: #3559e9;
  --blue-700: #2547d0;
  --blue-800: #1f3bad;
  --blue-900: #182f8b;
  --blue-950: #122368;

  --red-000: #ffffff;
  --red-050: #ffebec;
  --red-100: #ffd5d8;
  --red-200: #ffc0c5;
  --red-300: #ff97a0;
  --red-400: #ff6875;
  --red-500: #fb3748;
  --red-600: #e93544;
  --red-700: #d02533;
  --red-800: #ad1f2b;
  --red-900: #8b1822;
  --red-950: #681219;
}
